
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Game</title>
</head>
<body>
    <div>
        Once you click start, there will be a countdown. You must choose your move when it says 'shoot!'.
    </div>
    <input type="button" value="Start" onclick="window.location.href='@Url.Action("Start", "Game" )';" />
</body>
</html>
