
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Finish</title>
</head>
<body>
    <div> 
        Your form has been written to file! Thanks for playing.
    </div>
</body>
</html>
